# Ignore secrets
Secrets.xcconfig

# Xcode user-specific files
xcuserdata/
DerivedData/

# macOS metadata
.DS_Store


TMDBApp/TMDBApp.xcodeproj/project.xcworkspace/xcuserdata/toni.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
